@{
    ViewData["Title"] = "Home Page";
}

<div id="app">
    <p-datepicker v-model="date"></p-datepicker>
    <br /><br />
    {{ date }}
</div>

@section Scripts {
    <script src="~/js/home/index.js" asp-append-version="true"></script>
}